:root {
  /* --bs-blue: #037bc0;*/
  --bs-blue: #4e89ab;
  --bs-green: #b3da3fd1;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem;
  line-height: 2;
}

h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
}

h1 {
  font-size: 3.8rem;
}
@media (min-widht: 768px) {
  h1 {
    font-size: 5rem;
  }
}

h2 {
  font-size: 3.2rem;
}
@media (min-widht: 768px) {
  h2 {
    font-size: 4rem;
  }
}

h3 {
  font-size: 2.4rem;
}
@media (min-widht: 768px) {
  h3 {
    font-size: 3rem;
  }
}

/* Text colors */

.text-primary,
.website-name {
  color: var(--bs-blue) !important;
}

.btn-success {
  background-color: var(--bs-green) !important;
}

.bg-primary {
  background-color: var(--bs-blue) !important;
}

.hero {
  background-image: url(../img/principal.jpg);
  height: 28rem;
  background-size: cover;
  background-position: center center;
}

@media (min-widht: 768px) {
  .hero {
    height: 550px;
  }
}

/*Products card*/
@media (min-widht: 768px) {
  .products img {
    height: auto;
    width: 100%;
    object-fit: cover;
  }
}

/*category section*/
.category img {
  transition-property: transform;
  transition-duration: 300ms;
}

.category img:hover {
  transform: scale(1.2);
}

/*galery section*/
.galery li {
  margin-bottom: 2rem;
}
